<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logo.jpeg" 
            alt="" width="30" height="24">
        </a>  
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            |||
        </button>
        <!---SideBAr-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Welcome To Flavor Town</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!--Sidebar Links-->
        <div class="offcanvas-body">
            <a class="btn btn-primary" href="https://www.tiktok.com/@jordan_the_stallion8?lang=en" target="_blank">Tiktok</a>
        </div>
        </div>  
    </div>
  </nav>
  